# /!\ /!\ /!\ /!\ /!\ /!\ /!\
# IMPORTANT: Please add each project library's license next to it as a comment, please check predefined requirements as an example.
# /!\ /!\ /!\ /!\ /!\ /!\ /!\

# meta requirements
virtualenv

# external requirements
click           # BSD-3-Clause
sphinx          # BSD-3-Clause 
coverage        # MIT
flake8          # MIT
python-dotenv   # BSD-3-Clause
tqdm
requests
black
matplotlib
torchvision==0.8.2+cu101
torch==1.7.1+cu101
opencv-python
scipy
tensorboardX
joblib
scikit-learn
tensorboard

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html