# /!\ /!\ /!\ /!\ /!\ /!\ /!\
# IMPORTANT: Please add each project library's license next to it as a comment, please check predefined requirements as an example.
# /!\ /!\ /!\ /!\ /!\ /!\ /!\

# meta requirements
virtualenv

# external requirements
click==7.1.2    # BSD-3-Clause
sphinx==3.4.3   # BSD-3-Clause 
coverage==5.4   # MIT
flake8==3.8.4   # MIT
python-dotenv==0.15.0 # BSD-3-Clause
tqdm==4.56.0
requests==2.25.1
black==20.8b1
cairosvg==2.5.2
flask==2.0.1
flask_restful==0.3.8
ipykernel==5.5.5
matplotlib==3.3.4
nbformat==4.2.0
opencv-python==4.5.2.52
pandas==1.2.2
plotly==4.14.3
torchvision==0.8.2+cu101
torch==1.7.1+cu101
tensorboard==2.4.1
tensorboardX==2.1
joblib==1.0.1
scikit-learn==0.24.1
scipy==1.6.0

# package location
--find-links https://download.pytorch.org/whl/torch_stable.html