# /!\ /!\ /!\ /!\ /!\ /!\ /!\
# IMPORTANT: Please add each project library's license next to it as a comment, please check predefined requirements as an example.
# /!\ /!\ /!\ /!\ /!\ /!\ /!\

# meta requirements
virtualenv

# external requirements
click           # BSD-3-Clause
sphinx          # BSD-3-Clause 
coverage        # MIT
flake8          # MIT
python-dotenv   # BSD-3-Clause
tqdm==4.56.0
requests==2.25.1
black==20.8b1
matplotlib==3.3.4
torchvision==0.8.2+cu101
torch==1.7.1+cu101
scipy==1.6.0